body
    font-family: sans-serif
    color: $text-color
    font-size: 14px
    font-weight: 400
    
.container
    width: 1170px
    margin: auto

.button
    border: none
    border-radius: 10px
    background-color: $btn-color