.navbar
    padding: 8px 0
    &-block
        display: flex
        justify-content: space-between
        align-items: center
    &__contacts
        display: flex
        text-align: right
        align-items: center
    &__tell
        display: flex
        flex-direction: column
        margin-right: 30px
        a
            text-decoration: none
            color: $text-color
            font-size: 20px
    &__address
        font-size: 13px
        margin-bottom: 8px
    &__button
        padding: 18px 30px
        font-size: 13px
