body {
  font-family: sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 750px;
  }
}

.button {
  border: none;
  border-radius: 10px;
  background-color: #ffd200;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__tell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.navbar__tell a {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
}

.navbar__address {
  font-size: 13px;
  margin-bottom: 8px;
}

.navbar__button {
  padding: 18px 30px;
  font-size: 13px;
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
    width: 85%;
  }
  .navbar {
    padding: 17px 0;
  }
  .navbar__img {
    display: block;
    width: 91px;
    height: auto;
  }
  .navbar__tell {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    padding: 15px 25px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-right: 140px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 400;
  line-height: 55px;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 67px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__img {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  height: 40px;
  margin-right: 30px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-list__text {
  max-width: 300px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .hero-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 38px;
  }
}

@media (max-width: 768px) {
  .hero-text {
    margin-right: 0;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 28px;
  }
  .hero-list__items {
    margin-bottom: 20px;
  }
  .hero-list__img {
    margin-right: 15px;
    min-width: 40px;
  }
}
/*# sourceMappingURL=style.css.map */