@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrc/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrc/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrc/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrc/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrc/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrc/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrc/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrc/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light';
  font-weight: 300;
  color: #333333;
  font-size: 14px;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 750px;
  }
}

.button {
  border: none;
  border-radius: 10px;
  background-color: #ffd200;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

section {
  padding: 80px 0;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__tell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.navbar__tell a {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
}

.navbar__address {
  font-size: 13px;
  margin-bottom: 8px;
}

.navbar__button {
  padding: 18px 30px;
  font-size: 13px;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
    width: 85%;
  }
  .navbar {
    padding: 17px 0;
  }
  .navbar__img {
    display: block;
    width: 91px;
    height: auto;
  }
  .navbar__tell {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    padding: 15px 25px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-right: 140px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 67px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__items:last-child {
  margin-bottom: 0;
}

.hero-list__img {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  height: 40px;
  margin-right: 30px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-list__text {
  max-width: 300px;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .hero-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 38px;
  }
  .hero-text {
    margin-right: 0;
  }
  .hero-text__title {
    text-align: center;
  }
  .hero-text__subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .hero-text {
    margin-right: 0;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 28px;
    max-width: 200px;
  }
  .hero-list__items {
    margin-bottom: 20px;
  }
  .hero-list__img {
    margin-right: 15px;
    min-width: 40px;
  }
}

.offer {
  position: relative;
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-size: contain;
  background-position: center right;
}

.offer::before {
  content: '';
  position: absolute;
  background: #fff;
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
}

.offer-block {
  position: relative;
  width: 50%;
  padding-right: 90px;
}

.offer__title {
  line-height: 35px;
  font-size: 24px;
  max-width: 350px;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
}

.offer__subtitle {
  display: block;
  max-width: 235px;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.offer__form {
  max-width: 495px;
}

.offer__input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 20px 26px;
  min-width: 240px;
  margin-bottom: 30px;
  font-size: 15px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__input:focus {
  outline: none;
  border: 1px solid #ffd200;
}

.offer__button {
  font-size: 16px;
  width: 100%;
  height: 70px;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
  margin-bottom: 30px;
}

.offer__text {
  max-width: 495px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__text_first {
  max-width: 225px;
  font-size: 15px;
  line-height: 24px;
}

.offer__text_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  line-height: 24px;
}

.offer__text_second a {
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__input {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    font-size: 18px;
    line-height: 1.4;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 27px;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 8px;
  }
  .offer__button {
    font-size: 14px;
    padding: 19px 64px;
    line-height: 16px;
  }
  .offer__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio {
  background: #f5f5f5 url(../img/portfolio/port-bg.jpg) repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
  max-width: 580px;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
}

.slider {
  margin-bottom: 70px;
}

.slider img {
  margin: auto;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  max-width: 120px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .portfolio {
    background: #f5f5f5 url(../img/portfolio/port-bg.jpg) repeat-y center left;
    background-size: 100%;
    margin-top: 50px;
  }
  .portfolio__title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 40px;
  }
  .slider {
    margin-bottom: 45px;
  }
}

.price {
  text-align: center;
}

.price__title {
  margin: auto;
  font-size: 30px;
  line-height: 45px;
  max-width: 515px;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
}

.price__subtitle {
  display: inline-block;
  font-size: 20px;
  margin: 59px 0;
  font-family: 'Museo Sans Light';
  font-weight: 300;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards {
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card__title {
  display: block;
  font-size: 18px;
  margin: 39px 0 31px 0;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
}

.card__img {
  position: relative;
}

.card__img img {
  display: block;
}

.card__img:hover::before {
  opacity: 0.8;
}

.card__img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  position: relative;
  margin-bottom: 47px;
  font-size: 16px;
  color: #333333;
  text-decoration: none;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
}

.card__link:hover::before {
  height: 12px;
}

.card__link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -4px;
  z-index: -1;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 1200px) {
  .price__title {
    font-size: 18px;
    line-height: 1.4;
  }
  .price__subtitle {
    font-size: 14px;
    margin: 27px 0 61px 0;
  }
  .card__title {
    font-size: 14px;
    margin: 30px 0 15px 0;
  }
  .card__link {
    margin-bottom: 35px;
  }
}

@media (max-width: 768px) {
  .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  width: 100%;
  height: 100%;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 90%;
  max-width: 450px;
  min-width: 200px;
  padding: 40px;
  background-color: #fff;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}
/*# sourceMappingURL=style.css.map */